.header {
    width: 100%;
    background: rgb(0, 0, 0);
}
.menu {
  width: 75%;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}